
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="~/css/style.min.css" rel="stylesheet" />
    <link href="~/css/styleLogin.css" rel="stylesheet" />
    <style>
        .card.Navigation {
            min-width: 100% !important;
        }
    </style>
</head>
<body class="grey lighten-3">
    <header>
        <!-- Navbar -->
        <nav class="navbar fixed-top  navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="@Url.Action("Index", "Home")">
                    <strong class="blue-text">Unidadex</strong>
                </a>
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Links -->
                <div class="collapse navbar-collapse collapse" data-navigation="true" id="navbarSupportedContent">
                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="@Url.Action("Index", "Home")">
                                Inicio
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                  

                        <li class="nav-item dropdown  ">
                            <a class="nav-item nav-link waves-effect dropdown-toggle" data-toggle="dropdown">Seguridad<span class="caret "></span></a>
                            <ul class="dropdown-menu navbar-nav mr-auto">
                                <li><a href="@Url.Action("Index", "User")">Usuarios</a></li>
                                <li><a href="@Url.Action("Index", "Role")">Roles</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="">Ayuda</a>
                        </li>
                    </ul>
                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            @* @using Microsoft.AspNet.Identity*@
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new
                                {
                                    id = "logoutForm",
                                    @class = "navbar-right"
                                }))
                                {
                                    @Html.AntiForgeryToken() <ul class="nav navbar-nav navbar-right">
                                        @*<li>
                                            @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Home", routeValues: null, htmlAttributes: new
                                            {
                                                title = "Manage"
                                            }) </li>*@
                                        <li>
                                            <a href="javascript:document.getElementById('logoutForm').submit()">  <i class="fa fa-user mr-2"></i> Salir</a>
                                        </li>
                                    </ul>}
                            }
                            else
                            {<ul class="nav navbar-nav navbar-right">
                                    <li>
                                        @Html.ActionLink("Iniciar Sesion", "Index", "Login", routeValues: null, htmlAttributes: new
{
id = "loginLink"
})
                                    </li>
                                </ul>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
            <a class="logo-wrapper waves-effect">
                <img src="~/img/logo.jpg" class="img-fluid" alt="">
            </a>
            <div class="nav list-group list-group-flush">
                <a href="@Url.Action("Index", "Home")" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-database mr-3"></i>Inventario
                </a>
                <a href="@Url.Action("Index", "Warehouse")" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-shopping-bag mr-3"></i>Almacenes
                </a>
                <a href="@Url.Action("Index", "Unit")" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-table mr-3"></i>Unidades
                </a>
                <a href="@Url.Action("Index", "Category")" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-bars mr-3"></i>Categoria
                </a>
                <a href="@Url.Action("Index", "Product")" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-table mr-3"></i>Productos
                </a>
                <a href="@Url.Action("Index", "Employee")" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-user mr-3"></i>Empleados
                </a>
                <a href="@Url.Action("Index", "Sell")" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-money mr-3"></i>Operaciones
                </a>

                <a href="@Url.Action("Index", "Person")" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-users mr-3"></i>Clientes/Proveedor
                </a>
            </div>
        </div>
        <!-- Sidebar -->
    </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main class="pt-5 mx-lg-5" style="position:relative">
        <div class="container-fluid mt-5">
            <!-- Heading -->
            <div class="row wow fadeIn">
                <div class="card Navigation mb-4 wow fadeIn">
                    <!--Card content-->
                    <div class="card-body d-sm-flex justify-content-between">
                        <h4 class="mb-2 mb-sm-0 pt-1">
                            <span>@Html.ActionLink("Inicio", "Index", "Home")/</span>
                            <span>@ViewBag.Title</span>
                        </h4>
                        <form class="d-flex justify-content-center">
                            <!-- Default input -->
                            @using (Html.BeginForm())
                            {
                                @Html.TextBox("SearchText", null, new { @class = "form-control", @style = "min-width:200px", @placeholder = "Búsqueda" })
                                <button class="btn btn-primary btn-sm my-0 p" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>}
                        </form>
                    </div>
                </div>
            </div>
            <!-- Heading -->
            <!--Grid row-->
            <div class=" fadeIn">
                @RenderBody()
            </div>
            <!--Grid row-->
        </div>
    </main>
    <!--Main layout-->
    <!--Footer-->
    <footer class="page-footer  text-center  font-small primary-color-dark darken-2 mt-4 wow fadeIn">
        <!--Call to action-->
        <div class="pt-4">
        </div>
        <!--/.Call to action-->
        <hr class="my-4">
        <!-- Social icons -->
        <div class="pb-4">
        </div>
        <!-- Social icons -->
        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2018 Copyright:
            <a href="">Inventory System</a>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();

        $(function () {
            setNavigation();
        });

        function setNavigation() {
            var path = window.location.pathname;
            path = path.replace(/\/$/, "");
            path = decodeURIComponent(path);

            $(".nav a").each(function () {
                var href = $(this).attr('href');
                if (path.substring(0, href.length) === href) {
                    $(this).addClass('active');
                }
            });

            $(".dropdown-menu a").each(function () {
                var href = $(this).attr('href');
                if (path.substring(0, href.length) === href) {
                    $(this).closest('li').addClass('active');
                }
            });
        }

    </script>
</body>
</html>
