@model IEnumerable<InventorySystem.DataBase.inventario_v>

@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Almacen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Producto
        </td>
        <td>
            @item.Almacen
        </td>
        <td>
            @item.Categoria
        </td>
    </tr>
    }

</table>
