@model IEnumerable<InventorySystem.DataBase.User_t>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_update_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creation_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_user_update)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role_t.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_update_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creation_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_user_update)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role_t.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.user_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.user_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.user_id })
        </td>
    </tr>
}

</table>
