@model InventorySystem.DataBase.Product_t

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.existence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.existence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category_t.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category_t.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit_t.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit_t.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse_t.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse_t.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.product_id }) |
    @Html.ActionLink("Volver al Listado", "Index")
</p>
