@model IEnumerable<InventorySystem.DataBase.Role_t>

@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo rol", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_update_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creation_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_user_update)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_update_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creation_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_user_update)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.role_id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.role_id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.role_id })
        </td>
    </tr>
}

</table>
